<style>
    #stage-panel {
        position: absolute;
        width: 1400px;
        left: 100px;
        top: 80px;
        opacity: .8;
    }
</style>
<div id="stage-panel" class="card-panel grey lighten-3" v-if="op">
    <div class="row">
        <div class="col s6" v-for="playerInfo in playerInfoArr">
            <div class="row">
                <div class="col" style="width: 85px">
                    <img src="/img/panel/stage/blue.png" id="playerImg{{$index}}" style="width: 80px">
                    <input id="player{{$index}}" type="text" @keyup.enter="onQueryPlayer($index)" style="width: 75px">
                    <a class="waves-effect waves-light btn" style="width: 75px;height: 25px"
                       @click="onUpdatePlayer($index)">↓</a>
                </div>
                <div class="col">
                    <input v-model="ballCountArr[$index]" placeholder="剩球数设置" style="width: 100px">
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn" @click="onAddBallNum($index)">剩球++</a>
                <a class="waves-effect waves-light btn" @click="onMinBallNum($index)">剩球--</a>
                <a class="waves-effect waves-light btn" @click="onAddScore($index)">比分++</a>
                <a class="waves-effect waves-light btn" @click="onMinScore($index)">比分--</a>
            </div>

            <div class="row">
                <a class="waves-effect waves-light btn" @click="onAddSkillOne($index)">连杆++</a>
                <a class="waves-effect waves-light btn" @click="onMinSkillOne($index)">连杆--</a>
                <a class="waves-effect waves-light btn" @click="onAddSkillTwo($index)">时光机++</a>
                <a class="waves-effect waves-light btn" @click="onMinSkillTwo($index)">时光机--</a>
            </div>

        </div>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onResetGame">重置</a>
        <a class="waves-effect waves-light btn" @click="onToggleDmk">显示弹幕助手</a>
    </div>
    <div style="overflow: scroll;width:1000px;height: 500px">
        <div v-for="dmk in dmkArr">
            <span>[{{dmk.user}}]:{{dmk.text}}</span>
        </div>
        <div v-for="skill in skillArr">
            <span>[skill.user]:{{skill.skillIdx}}:{{skill.playerIdx}}</span>
        </div>
    </div>
</div>


<div style="display: none">
    <img src="/img/panel/stage/newPlayer.png">
    <img src="/img/panel/stage/skill/skillNum.png">
    <img src="/img/panel/stage/skill/skillX.png">
</div>