<link class="challonge_stylesheet" href="/css/bracket.css" media="all" rel="stylesheet">
<style>
    body {
        font-family: '微软雅黑';
        background-color: rgba(0, 0, 0, 0);
    }

    @font-face {
        font-family: 微软雅黑;
        src: url('微软雅黑.eot'); /* IE9 Compat Modes */
        src: url('微软雅黑.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('微软雅黑.woff') format('woff'), /* Modern Browsers */ url('微软雅黑.ttf') format('truetype'), /* Safari, Android, iOS */ url('微软雅黑.svg#微软雅黑') format('svg'); /* Legacy iOS */
    }

    .bracket {
        position: absolute;
        overflow: hidden;
    }

    .bracket-bg {
        width: 1920px;
        height: 1080px;
        background-image: url(/img/panel/stage1v1/bracketBg.png);
        background-repeat: repeat;
        opacity: .8;
    }

    .bracket-svg {
        top:0;
        position: absolute;
    }

    .bracket-line {
        fill: none;
        stroke: #F0F0F0;
        stroke-width: 2px
    }

    .match--player-name2 {
        font-family: '微软雅黑';
        font-size: 26px;
        /*font-weight: bold;*/
        fill: #FFF;
        /*fill: #ffeed1;*/
        /*text-shadow: 1px 0 1px #8B4513, 0 1px 1px #8B4513,*/
        /*0 -1px 1px #8B4513, -1px 0 1px #8B4513;*/
    }

    .match--player-name3 {
        font-family: '微软雅黑';
        font-size: 22px;
        /*font-weight: bold;*/
        fill: #FFF;
        /*fill: #ffeed1;*/
        /*text-shadow: 1px 0 1px #8B4513, 0 1px 1px #8B4513,*/
        /*0 -1px 1px #8B4513, -1px 0 1px #8B4513;*/
    }

    .match--player-score {
        fill: #111;
        font-size: 35px;
        text-shadow: none
    }

    .match--player-name.-placeholder {
        font-style: italic;
        font-size: 22px;
        fill: #BBB
    }

    .match--player image {
        opacity: .3;
        /*filter: grayscale(100%);*/
    }

    .match--base-background {
        /*fill: #f0f0f0*/
        fill: #626262
    }

    /*style="filter: grayscale(100%);"*/
</style>
<div class="bracket">
    <div class="bracket-bg">

    </div>
    <svg class="bracket-svg" width="1920" height="1080" viewBox="0 0 1920 1080">

        <image x="40" y="0" width="1410"
               height="36"
               xlink:href="/img/panel/stage1v1/bracketTitle1.png"></image>

        <image x="40" y="{{matchArr[3].y + 140 }}" width="1410"
               height="36"
               xlink:href="/img/panel/stage1v1/bracketTitle2.png"></image>
        <g>
            <!--first col-->
            <svg x="0" y="{{ matchArr[0].y + 65 }}" data-path="1-7">
                <path d="M 228 1 L {{ 300 }} 1 L {{ 300 }} 160 L 228 160 M {{ 300 }} 83 L 375 83"
                      class="bracket-line"/>
            </svg>

            <svg x="0" y="{{ matchArr[2].y + 65 }}" data-path="3-8">
                <path d="M 228 1 L {{ 300 }} 1 L {{ 300 }} 160 L 228 160 M {{ 300 }} 83 L 375 83"
                      class="bracket-line"/>
            </svg>

            <svg x="0" y="{{ matchArr[9].y + 65 }}" data-path="5-10">
                <path d="M 228 60 L {{ 300 }} 60 L {{ 300 }} 1 L 375 1"
                      class="bracket-line"/>
            </svg>
            <svg x="0" y="{{ matchArr[8].y + 65 }}" data-path="6-9">
                <path d="M 228 60 L {{ 300 }} 60 L {{ 300 }} 1 L 375 1"
                      class="bracket-line"/>
            </svg>

            <!--second col-->
            <svg x="{{ 400 }}" y="{{ matchArr[6].y + 65 }}" data-path="7-12">
                <path d="M 228 1 L {{ 300 }} 1 L {{ 300 }} 326 L 228 326 M 300 160 L 375 160"
                      class="bracket-line"/>
            </svg>
            <svg x="{{ 400 }}" y="{{ matchArr[9].y + 65 }}" data-path="10-11">
                <path d="M 228 1 L {{ 300 }} 1 L {{ 300 }} 165 L 228 165 M 300 82 L 375 82"
                      class="bracket-line"/>
            </svg>
            <!--third col-->

            <svg x="{{ 800 }}" y="{{ matchArr[10].y + 65 }}" data-path="11-14">
                <path d="M 228 1 L {{ 300 }} 1 L {{ 300 }} 60 L 375 60"
                      class="bracket-line"/>
            </svg>

            <svg x="{{ 800 }}" y="{{ matchArr[12].y + 65 }}" data-path="12-13">
                <path d="M 228 60 L {{ 300 }} 60 L {{ 300 }} 1 L 375 1"
                      class="bracket-line"></path>
            </svg>
        </g>
        <matchsvg v-for="match in matchArr"
                  :match="match" :x="match.x" :y="match.y" :idx="match.idx"
                  :playerArr='match.playerArr'>
        </matchsvg>
    </svg>
    <!--<div class="row">-->
        <!--<input />-->
    <!--</div>-->
</div>